<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- Character encoding for UTF-8 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Responsive viewport meta tag -->
    <title>Document</title>
    <!-- Title of the page -->
  </head>
  <body>
    Page Not Found
    <!-- Message indicating that the page is not found -->
  </body>
</html>
